@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    max-width: 1440px;
    height: 900px;
    position: relative;
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
}
.container {
    max-width: 920px;
    justify-content: center;
    align-items: center;
    /* height: 580px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: 0 auto; 
    display: flex;
    position: absolute;
    overflow: hidden;
    /* border-radius: 10px; */
}
.box {
    padding: 47px 50px 45px 45px;
}
.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    
}
.suv {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    
}
.head {
    /* height: 130px; */
    /* position: relative; */
    margin-bottom:42px; 
}
img {
    height: 44px;
}
h1 {
    margin-bottom: 40px;
    font-size: 48px;
    font-family:'Big Shoulders Display';
    font-weight: 700;
    /* height: 32px; */
    color:hsl(0, 0%, 95%);
    padding: 0;
}

p {
font-family: 'Lexend Deca';
color:hsla(0, 0%, 100%, 0.75);
font-size: 16px;
margin-bottom:86px;
line-height: 2;

}

button {
    height:50px;
    width: 144px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}
.btn-sedan {
    color:hsl(31, 77%, 52%);
}
.btn-suv {
    color:hsl(184, 100%, 22%);
}
.btn-luxury {
    color:hsl(179, 100%, 13%);
}


@media screen and (max-width: 375px) {
    body {
        max-width: 375px;
        height: 1325px;
    }
    .container {
        max-width: 327px;
        margin: 80px 25px 0 25px;
        display: flex;
        flex-direction: column;
    }
    .box {
        /* height:442px; */
        padding:42px 45px 20px 45px;
    }
    .sedan {
            border-radius:10px 10px 0 0;
        }
    .luxury {
        border-radius: 0 0 10px 10px;
    }
    .head {
        margin-bottom: 29px;
    }
    h1 {
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 29px;
        font-size: 15px;
        line-height: 1.5;
    }
    
}
